* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url('../img/por-do-sol.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.container, .container-fluid, .container-navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.5s;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .logo {
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 0 10px 0;
  text-align: center;
  width: 227px;
  height: 50px;
  line-height: 190%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  float: left;
  margin-top: 16px;
}

header nav {
  float: right;
}

header nav ul {
 list-style: none;
 display: flex;
}

header nav ul li {
  margin-left: 2px;
  text-transform: uppercase;
}

header nav ul li a {
  padding: 12px 18px;
  text-decoration: none;
  border: 1px solid rgba(255,255,255,0.23);
  border-radius: 0 10px 0;
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  display: block;
  transition: 0.4s ease;
  outline: none;
}
header nav ul li a:hover {
  background: #fff;
  color: rgba(0,0,0,0.8);
}

header .title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .title p {
  font-family: Roboto;
  font-size: 4.4em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}
header .btn {
  text-align: center;
  display: list-item;
}

header .btn button {
  background: linear-gradient(rgba(0,0,0,0.1),
  rgba(0,0,0,0.1));
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 45px;
  font-size: 18px;
  color: rgba(255,255,255,0.5);
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
header .btn button:hover {
  color: rgba(0,0,0,0.8);
  background: linear-gradient(rgba(255,255,255,0.8),
  rgba(255,255,255,0.7));
}
header .btn button:active {
  background: linear-gradient(rgba(255,255,255,0.35),
  rgba(255,255,255,0.6));
}
.menu-toggle {
  color: #fff;
  float: right;
  font-size: 35px;
  cursor: pointer;
  display: none;
}
@media (max-width: 575.98px) {
  .container {
    width: 98% !important;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px !important;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px !important;
  }
  .container-navbar {
    max-width: 1350px;
  }
}
@media (max-width: 991.98px) {
  .menu-toggle {
    display: block;
    margin-top: 23px;
    margin-right: 14px;
    float: right;
  }

  header nav {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 68px);
    margin-top: 68px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
    transition: 0.5s;
  }
  header nav ul {
    display: block;
    padding-left: 0;
    margin: 16px 1.5%;
    list-style: none;
  }
  header ul li {
    margin: 10px 0;
  }
  header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .title p {
    font-family: Roboto;
    font-size: 4em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
  }
  header .btn button {
    margin-bottom: 5px;
  }
}
@media (max-width: 575.98px) {
  header .title p {
    font-size: 2.6em;
  }
}
.nao-selecionavel {
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
}
