* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url('../img/por-do-sol.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.container, .container-fluid, .container-navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.5s;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.center-bottom {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -15%);
  text-align: center;
}
header .logo {
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 0 10px 0;
  text-align: center;
  width: 227px;
  height: 50px;
  line-height: 190%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  float: left;
  margin-top: 16px;
}

header nav {
  float: right;
}

header nav ul {
 list-style: none;
 display: flex;
}

header nav ul li {
  margin-left: 2px;
  text-transform: uppercase;
}

header nav ul li a {
  padding: 12px 18px;
  text-decoration: none;
  border: 1px solid rgba(255,255,255,0.23);
  border-radius: 0 10px 0;
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  display: block;
  transition: 0.4s ease;
  outline: none;
}
header nav ul li a:hover {
  background: #fff;
  color: rgba(0,0,0,0.8);
}

header .title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .title p {
  font-family: sans-serif;
  font-size: 4.4em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}
header .btn {
  text-align: center;
  display: list-item;
  list-style: none;
}

header .btn button {
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 45px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
header .btn button:nth-child(1) {
  color: rgba(0,0,0,0.8);
  background: linear-gradient(rgba(255,255,255,0.8),
  rgba(255,255,255,0.7));
}
header .btn button:nth-child(2) {
  color: rgba(255,255,255,0.5);
  background: linear-gradient(rgba(0,0,0,0.1),
  rgba(0,0,0,0.1));
}
header .btn button:active {
  background: linear-gradient(rgba(255,255,255,0.35),
  rgba(255,255,255,0.6));
}
.menu-toggle {
  color: #fff;
  float: right;
  font-size: 35px;
  cursor: pointer;
  display: none;
}

@media (max-width: 575.98px) {
  .container {
    width: 98% !important;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px !important;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px !important;
  }
  .container-navbar {
    max-width: 1350px;
  }
}
@media (max-width: 991.98px) {
  .menu-toggle {
    display: block;
    margin-top: 40px;
    margin-right: 50px;
    float: right;
  }
  /* Burger Icon start */
  .burger-icon,
  .burger-icon:before,
  .burger-icon:after {
    content: '';
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background-color: rgba(255,255,255,0.9);
    display: block;
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
  }
  .burger-icon:before {
    top: -10px;
  }
  .burger-icon::after {
    bottom: -10px;
  }
  .burger-icon.active {
    background-color: transparent;
  }
  .burger-icon.active::before,
  .burger-icon.active::after {
    top: 0;
  }
  .burger-icon.active::before {
    transform: rotate(45deg);
  }
  .burger-icon.active::after {
    transform: rotate(135deg);
  }
  /* Burger Icon end */

  header nav {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 68px);
    margin-top: 68px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
    transition: 0.5s;
  }
  header nav ul {
    display: block;
    padding-left: 0;
    margin: 16px 1.5%;
    list-style: none;
  }
  header ul li {
    margin: 10px 0;
  }
  header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .title p {
    font-family: Roboto;
    font-size: 4em;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
  }
  header .btn button {
    margin-bottom: 5px;
  }
}
@media (max-width: 575.98px) {
  header .title p {
    font-size: 2.6em;
  }
}
/* Scroll Down start */
.scroll-down {
  position: relative;
  width: 40px;
  height: 65px;
  border-radius: 25px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.9);
  overflow: hidden;
}
.scroll-down:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
  animation: scroll-down 1s linear infinite;
}
.scroll-down:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 15px;
  background: rgba(255, 255, 255, 0.8);
  left: 50%;
  top: 5px;
  transform: translate(-50%, 0);
  border-radius: 3px;
}
@keyframes scroll-down {
  0% {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
  80% {
    transform: translate(-50%, 60px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 100px);
    opacity: 0;
  }
}

/* Scroll Down end */

.mt-1 {
  margin-top: 5em;
}
.mt-2 {
  margin-top: 10em;
}
.mt-3 {
  margin-top: 15em;
}
.mt-4 {
  margin-top: 20em;
}
.mt-5 {
  margin-top: 25em;
}
.mt-6 {
  margin-top: 30em;
}
.mb-1 {
  margin-bottom: 5em;
}
.mb-2 {
  margin-bottom: 10em;
}
.mb-3 {
  margin-bottom: 15em;
}
.mb-4 {
  margin-bottom: 20em;
}
.mb-5 {
  margin-bottom: 25em;
}
.mb-6 {
  margin-bottom: 30em;
}
.nao-selecionavel {
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
}
